.loginTop {
    background-color: #06698F;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.loginTop label {
    color: white;
    font-family: "RalewayNormal";
}

.loginBottom {
    background-color: #E0E3E4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.loginBottom:hover p {
    font-family: "RalewayNormal";
    text-decoration: underline;
}

.accessButton {
    background-color: #E2E4E5 !important;
}
